body{
       background-color: #F49842;
       margin: 0;
       font-family: Arial, Helvetica, sans-serif;
     }
     
     .wrapper {
       margin-top: 50px;
       width:100vw;
       height:100vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
     }
     .main{
     
       width:100vw;
       height:85vh;
       display: flex;
       flex-direction: row;
       justify-content: center;
     }
     
     .orangelogo {
      width: 275px;
      height: 590px;
     }
     
     .left {
      border-radius: 25px;
      background-color: #ffffff;
      height: auto;
      display: flex;
      align-items: center;
     }

     .right{
       margin-left: 25px;
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: #FFE2A9;
     }
     
     #firstBox{
       width: 350px;
       height: auto;
       padding: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;
     }

     #firstBox > img {
      width: 70px;
      height: auto;
      margin-bottom: 15px;
     }
     
    #inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
    }

     #email, #password{
       background-color: #FAFAFA;
       border: 0.25px solid #DBDBDB;
       width: 100%;
       height: 35px;
       border-radius: 5px;
       margin-bottom: 15px;
       padding-left: 10px;
       font-size: 12px;
       color: #8E8E8E;
     }

     #buttonCont {
      display: flex;
      flex-direction: column;
      align-items: center;
     }

     #buttonCont p {
      margin: 5px 0;
     }
     #button {
       font-family: 'Arial', sans-serif;
       font-weight: bold;
       font-size: 14px;
       color: #FFFFFF;
       background-color: #F49842;
       border: none;
       text-align: center;
       padding: 8px 110px;
       border-radius: 5px;
       margin: 10px 0;
       width: 100%;
     }
     
     #or {
       width:75%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
     }
     
     hr{
       flex-grow: 1;
       border-top:  solid #000000;
     }
     
     #or p{
       color: #000000;
       font-weight: bold;
       font-size: 14px;
       width: 50px;
       text-align: center;
     }
     
     #googleLogin{
       width: 75%;
       height: 45px;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       background-color: #FFFFFF;
       border-radius: 5px;
       border: 0.25px solid #385185;
       color: #385185;
       font-weight: bold;
       font-size: 14px;
       padding: 6px 0;
     }
     #googleLogin img{
      width: 20px;
      height: 20px;
    }
     
     #forgotPassword {
       text-align: center;
       color: #717171;
       font-size: 12px;
       margin: 10px;
     }
     
     #secondBox{
       margin-top: 10px;
       height: auto;
       width: 350px;
       display: flex;
       flex-direction: column;
       align-items: center;
     }
     
     #secondBox p {
       margin-top: 24px;
       font-size: 14px;
       text-align: center;
     }
     
     #signUp{
       font-weight: bold;
       color: #0095F6;
     }
     
     #cta p {
       text-align: center;
       font-size: 14px;
       margin: 25px;
     }
     
     #stores{
       width: 300px;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
     }
     
     #apple, #google {
       background-color: #000000;
       border-radius: 5px;
       padding: 1px;
       height: 40px;
       width: 140px;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-around;
     }
     
     #apple img {
       filter: invert(1);
     }
     #apple p {
       color: #FFFFFF;
       font-size: 10px;
       text-align: center;
       margin: 0;
     }
     
     #apple p + p{
       font-size: 18px;
       font-weight: bold;
     }
     
     #google p{
       color: #FFFFFF;
       font-size: 8px;
       text-align: left;
       margin: 0;
     }
     
     #google p + p{
       font-size: 18px;
     }
     
     @media screen and (max-width:875px){
       .left{
         display: none;
       }
       .right{
         margin: 0;
       }
     }
     
     #footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       opacity: 0;
       transition: opacity 2s;
     }
     #footer p {
       font-size: 12px;
       color: #8E8E8E;
       margin: 5px 10px;
     }
     
     #firstRow{
       display: flex;
       flex-direction: row;
     }
     
     #secondRow{
       display: flex;
       flex-direction: row;
     }
     
     #thirdRow{
       display: flex;
       flex-direction: row;
     }
     
     #thirdRow p{
       margin: 20px;
     }
     